<nav class="row top-nav" role="navigation">
  <div class="col-md-4"><header><h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1></header></div><!--
--><div class="col-md-5">
    <ul>
      {% if DISPLAY_PAGES_ON_MENU %}
      {%- for p in pages -%}
        <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {%- endfor -%}
      {% endif %}
      <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{{ gettext('Archives', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">{{ gettext('Categories', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">{{ gettext('Tags', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ AUTHORS_URL | default('authors.html') }}">{{ gettext('Authors', DEFAULT_LANG) }}</a></li>
    </ul>
    <!--TODO: add links for Links(optional), and RSS -->
  </div><!--
--><div class="col-md-3">
    <a href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/">[English]</a>||
    <a href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/zh/">[傳統中文]</a>
  </div>
</nav>
