<nav class="top-nav" role="navigation">
  <div class="nav-header-window">
    <div class="toggleable-window visible-xs">
      <input type="checkbox" class="toggle" id="punch" checked>
      <label for="punch">&equiv;<!-- mobile devices cannot show &#8803; (math symbol STRICTLY EQUIVALENT TO) --></label>
      <div>
      {% if DISPLAY_PAGES_ON_MENU %}
      {%- for p in pages -%}
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
      {%- endfor -%}
      {% endif %}
        <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{{ gettext('Archives', DEFAULT_LANG) }}</a>
        <a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">{{ gettext('Categories', DEFAULT_LANG) }}</a>
        <a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">{{ gettext('Tags', DEFAULT_LANG) }}</a>
        <a href="{{ SITEURL }}/{{ AUTHORS_URL | default('authors.html') }}">{{ gettext('Authors', DEFAULT_LANG) }}</a>
        {% if lang_siteurls %}
          {% for lang, url in lang_siteurls.items() %}
          <span><a href="{{ url }}/">{{ lang_code2name(lang) }}</a></span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <header><h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1></header>
  </div><!--
--><div class="nav-links hidden-xs">
    <ul>
      {% if DISPLAY_PAGES_ON_MENU %}
      {%- for p in pages -%}
        <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {%- endfor -%}
      {% endif %}
      <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{{ gettext('Archives', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">{{ gettext('Categories', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">{{ gettext('Tags', DEFAULT_LANG) }}</a></li>
      <li><a href="{{ SITEURL }}/{{ AUTHORS_URL | default('authors.html') }}">{{ gettext('Authors', DEFAULT_LANG) }}</a></li>
      <!--TODO: add links for Links(optional), and RSS -->
    </ul>
  </div><!--
--><div class="nav-lang-select hidden-xs">
    {% if lang_siteurls %}
      <ul>
        {% for lang, url in lang_siteurls.items() %}
        <li><a href="{{ url }}/">{{ lang_code2name(lang) }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</nav>
