{% extends "layout/layout.html" %}
{% set content = (page if page else article )%}

{% block meta_keywords -%}
  {%- if content.tags -%}
    {%- for tag in content.tags -%}
      {{- tag -}}
      {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{- META_KEYWORDS -}}
  {%- endif -%}
{%- endblock %}

{% block meta_description -%}
  {%- if content.summary -%}
    {{- content.summary|striptags -}}
  {%- else -%}
    {{- META_DESCRIPTION -}}
  {%- endif -%}
{%- endblock %}

{% block meta_author -%}
  {%- if content.author -%}
    {{- content.author -}}
  {%- else -%}
    {{- AUTHOR -}}
  {%- endif -%}
{%- endblock %}

{%- if content.og_image -%}{% set OG_IMAGE = content.og_image %}{%- endif -%}
{%- if content.summary -%}{% set OG_DESCRIPTION = (content.summary|striptags) %}{%- endif -%}

{% block content %}
<main role="main" class="{{ content_css_class }}">
  <article>
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ content.url }}"
           rel="bookmark"
           title="Permalink to {{ content.title|striptags }}">
          {{ content.title }}
        </a>
      </h1>
    </header>
    {% block article_time %}{% endblock %}
    <aside>
      {{- translations_for(content, SITEURL) -}}
      {%- if content.github_url -%}
        <div class="edit-on-github"><a href="{{ content.github_url }}">{{ gettext('Edit on Github', DEFAULT_LANG) }}</a></div>
      {%- endif -%}
    </aside>
    <hr>
    <div class="main-content">{{ content.content }}</div>
    <footer>{% block article_metadata %}{% endblock %}</footer>
  </article>
</main>
{% endblock %}
