{#
  HTML5 Semantic Elements
  @see http://www.w3schools.com/html/html5_semantic_elements.asp
#}
{%- from 'layout/includes/i18n.html' import gettext, translations_for -%}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <title>{%- block title -%}{{ SITENAME }}{%- endblock -%}</title>
  <meta name="keywords" content="{% block meta_keywords -%}{{ META_KEYWORDS }}{%- endblock %}"/>
  <meta name="description" content="{% block meta_description -%}{{ META_DESCRIPTION }}{%- endblock %}"/>
  <meta name="author" content="{% block meta_author -%}{{ AUTHOR }}{%- endblock %}"/>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/css/style.css">
</head>
<body>

<div>
  {% include 'layout/includes/top_nav.html' %}
  {%- block content -%}{%- endblock -%}
</div>

</body>
</html>
