sudo: required
dist: trusty
language: python
python:
- '2.7'
branches:
  only:
  - master
addons:
  apt:
    packages:
    - language-pack-en
    - language-pack-zh-hant
    - language-pack-th
install:
- pip install -r requirements.txt
- make download
script:
- make publish
after_success:
- git config --global user.email "travis@travis-ci.org"
- git config --global user.name "Travis"
- git config --global push.default simple
- echo "Clone siongui.github.io..."
- git clone --depth 1 https://${GH_TOKEN}@github.com/siongui/siongui.github.io.git > /dev/null
- cd siongui.github.io
- git rm -rf * > /dev/null
- cp -r  ../output/* .
- git add .
- git status
- git commit -m "Pushed by Travis CI"
- git push --quiet
env:
  global:
    secure: Ph34LjX71tay9yVAYcg0RiwcLCeu/FthMkUtUoNf8pnI+OOL1MkW305jEf6F2oqObnRDuMvowppUfd/4LzqkSBat3CMr9htQzIQ+PNB5mIhx9JTYjkmz31iVoIBEPOFadSwvUDwKbcoJfAzmgrsX5wC0MadeD2iyUQMQ1BekT8k+HXqAp5WtmqjD0KcnFnlhXFzWl+fDiMoadVH85wUn+z827Tx+aH2XP1C9q8BhM8KeJXjTqacSzrLxOs+ElX603s1o2gSG9pxe+FPhABIVGPx/44V67zthwxs5j4d+WtXCWliK+ah+H/gQ2HxWydKLwfKoUI5BeowhUx9QHmodxjaWomL9ciqSPa0b9TpbeyzypzErecoZrFC8RZeXl1B2TDANROXGo5nTSKziDs1/Ajj83bNLoJ9K1B1yELpkHHi1mEoXb68Z6d9pit9uYsrA78Atkn/kAVrfS8/+fPuX+oeGk4MFF63epMxJm+otqWW4yjUTDg9vqVOe9eOgoD5sKWve5ZX8+ELIPHwg7xA5h+03nMqr3Bhe0YcmxIX9MHeZh49aub+Dm5H6q/rXWi8pwftW304BN/dO5gDk5EOd6F7ufOGvIM9Hj6iS1PYpJATw558Bkf/RX17kNhpAPhy9S1eswR34ET0ogvfjsLvMpQa/LvKcj8JTWj7OD+ilMoE=
