{# mandatory for theme #}
{% extends "layout.html" %}

{% block title %}Categories - {{ super() }}{% endblock %}

{% block content %}
<section class="categories">
  <header>
    <h3 title="All Categories">
      <i class="fa fa-list fa-fw"></i> All Categories
    </h3>
  </header>

  <ul>
    {% for category, articles in categories %}
      <li title="{{ category }}">
        <a href="{{ SITEURL }}/{{ category.url }}">
          <span>{{ category }}</span>
          <span class="badge">{{ articles | count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
