{% extends "layout/content.html" %}
{% set content_css_class = "article" %}

{% block title %}{{ article.title }}{% endblock %}

{%- if article.og_title -%}
  {% set OG_TITLE = article.og_title %}
{%- else -%}
  {% set OG_TITLE = article.title %}
{%- endif -%}

{% block article_time %}
<aside>
  {%- if article.modified -%}
  <time datetime="{{ article.modified.isoformat() }}">
    Updated: {{ article.modified | strftime('%B %d, %Y') }}
  </time>
  {%- else -%}
  <time datetime="{{ article.date.isoformat() }}">
    {{ article.date | strftime('%B %d, %Y') }}
  </time>
  {%- endif -%}
</aside>
{% endblock %}

{%- block article_metadata -%}
  <hr>
  {%- if article.author -%}
  <address><b>{{ gettext('Author', DEFAULT_LANG) }}</b>:
    <a rel="author"
       href="{{ SITEURL }}/{{ article.author.url }}">
      {{- article.author -}}
    </a>
  </address>
  {%- endif -%}

  {%- if article.category -%}
  <aside>
    <i>&isin;</i> <b>{{ gettext('Category', DEFAULT_LANG) }}</b>:
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  </aside>
  {%- endif -%}

  {%- if article.tags -%}
  <aside>
    <i>&sum;</i> <b>{{ gettext('Tags', DEFAULT_LANG) }}</b>:
    {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  </aside>
  {%- endif -%}
{%- endblock -%}
