{# mandatory for theme #}
{% extends "layout.html" %}

{% block title -%}
  {{- article.title|striptags }} - {{ super() -}}
{%- endblock %}

{% block content %}
<section class="article">
  <article>
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ article.url }}"
           rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}
        </a>
      </h1>
    </header>

    <aside>
      <time title="{{ article.date.isoformat() }}">
        <span>{{ article.date | strftime('%B %d') }}</span>,
        <span>{{ article.date | strftime('%Y') }}</span>
      </time>
    </aside>

    {% import 'includes/translations.html' as tr %}
    {{ tr.translations_for(article, SITEURL) }}

    <hr />
    {{ article.content }}
    <hr />

    {% if article.author %}
      <address class="article-metadata-author"><b>By</b> 
        <a rel="author" 
           href="{{ SITEURL }}/{{ article.author.url }}">
          {{ article.author }}
        </a>
      </address>
    {% endif %}

    {% if article.category %}
      <i class="fa fa-list"></i> <b>Category</b>:
      <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if article.tags %}
      <aside>
        <i class="fa fa-tags"></i> <b>Tags</b>:
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {% if not loop.last %}, {% endif %}
        {% endfor %}
      </aside>
    {% endif %}
  </article>

  {% if article.mathjax_cdn %}
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  {% endif %}

  {% if FB_COMMENTS %}
    <div class="fb-comments" data-href="{{ SITEURL }}/{{ article.url }}" data-numposts="5"></div>
  {% endif %}
</section>
{% endblock %}
