{% extends "content.html" %}

{% block content %}
<section class="page">
  <article>
    <header>
      <h1>
        <a href="{{ SITEURL }}/{{ page.url }}"
           rel="bookmark"
           title="Permalink to {{ page.title|striptags }}">
          {{ page.title }}
        </a>
      </h1>
    </header>
    <aside>
      {{- translations_for(page, SITEURL) -}}
      {%- if page.github_url -%}
        <div class="edit-on-github"><a href="{{ page.github_url }}">Edit on Github</a></div>
      {%- endif -%}
    </aside>
    <hr>
    <div>{{ page.content }}</div>
  </article>
</section>
{% endblock %}
