{% extends "layout.html" %}
{% block title -%}
  {{- page.title }} - {{ super() -}}
{%- endblock %}

{% block meta_keywords -%}
  {%- if page.tags -%}
    {%- for tag in page.tags -%}
      {{- tag -}}
      {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{- META_KEYWORDS -}}
  {%- endif -%}
{%- endblock %}

{% block meta_description -%}
  {%- if page.summary -%}
    {{- page.summary|striptags -}}
  {%- else -%}
    {{- META_DESCRIPTION -}}
  {%- endif -%}
{%- endblock %}

{% block meta_author -%}
  {%- if page.author -%}
    {{- page.author -}}
  {%- else -%}
    {{- AUTHOR -}}
  {%- endif -%}
{%- endblock %}

{% block content %}
<section class="page">
  <article>
    <header><h1>{{ page.title }}</h1></header>
    <aside>
      {{- translations_for(page, SITEURL) -}}
      {%- if page.github_url -%}
        <div class="edit-on-github"><a href="{{ page.github_url }}">Edit on Github</a></div>
      {%- endif -%}
    </aside>
    <hr>
    <div>{{ page.content }}</div>
  </article>
</section>
{% endblock %}
