<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="{{ META_KEYWORDS }}"/>
  <meta name="description" content="{{ META_DESCRIPTION }}"/>

  {% include 'includes/seeds.html' %}
  <link href="{{ FONT_AWESOME_URL }}" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body>
  {% include 'includes/fb_jssdk.html' %}
  {% include 'includes/github_ribbon.html' %}
  {% include 'includes/navbar.html' %}

  <div class="row"><!--
 --><div class="span9-of-12">
      {% block content %}{% endblock %}
    </div><!--
 --><div class="span3-of-12">
      {% include 'includes/sidebar.html' %}
    </div><!--
--></div>

  <hr />
  {% include 'includes/footer.html' %}
  {% include 'includes/ga.html' %}
</body>
</html>
