<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="{{ META_KEYWORDS }}"/>
  <meta name="description" content="{{ META_DESCRIPTION }}"/>

  {% include 'includes/seeds.html' %}
  <link href="{{ BOOTSTRAP3_CSS_URL }}" rel="stylesheet">
  <link href="{{ FONT_AWESOME_URL }}" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>
<body>
  {% include 'includes/navbar.html' %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-xs-12 col-sm-3">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
  <script src="{{ JQUERY_URL }}"></script>
  <script src="{{ BOOTSTRAP3_JS_URL }}"></script>
  {% include 'includes/ga.html' %}
</body>
</html>
