{# mandatory for theme #}
{% extends "layout.html" %}

{% block title %}Tags - {{ super() }}{% endblock %}

{% block content %}
  <div class="panel panel-default a-no-underline">
    <div class="panel-heading">
      <h1 class="panel-title" title="Tags">
        <a href="{{ SITEURL }}/tags.html">
          <i class="fa fa-tags fa-fw"></i> Tags
        </a>
      </h1>
    </div>
    <ul class="list-group">
      {% for tag, articles in tags %}
        <li class="list-group-item">
          <a href="{{ SITEURL }}/{{ tag.url }}">
            {{ tag }} <span class="badge">{{ articles | count }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
