{# mandatory for theme #}
{% extends "layout.html" %}

{% block title %}Tags - {{ super() }}{% endblock %}

{% block content %}
<section class="tags">
  <header>
    <h3 title="Tags">
      <i class="fa fa-tags fa-fw"></i> Tags
    </h3>
  </header>
  <ul>
    {% for tag, articles in tags %}
      <li title="{{ tag }}">
        <a href="{{ SITEURL }}/{{ tag.url }}">
          <span>{{ tag }}</span>
          <span class="badge">{{ articles | count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
