@import 'mixin';

.post {
  @include border-radius(4px, 4px);
  margin: .5em;
  padding: .5em;
  background-color: white;

  a { text-decoration: none; }

  .post-title {
    color: #111;
    font-size: 2em;
  }

  .post-metadata-date {
    color: #d6d5d5;
  }

  .post-content {
    line-height: 1.5em;
    p { display: inline; }
  }

  .read-more { color: #428bca; }
}
