@import 'mixin';

$link-hover-color: #2445ae;

.post {
  @include border-radius(4px, 4px);
  margin: .5em;
  padding: .5em;
  background-color: white;

  a {
    text-decoration: none;
    color: black;
    &:hover { color: $link-hover-color; }
  }

  .post-title {
    font-size: 2em;
  }

  .post-metadata-date {
    //color: #d6d5d5;
    color: #dbdad0;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .post-content {
    line-height: 1.5em;
    p { display: inline; }
  }

  a.read-more {
    color: #428bca;
    &:hover { color: $link-hover-color; }
  }
}
