@import 'mixin';

aside.sidebar {
  padding: .5em;
  a { text-decoration: none; }

  .panel {
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
    margin-bottom: .5em;
    padding: .5em;
    @include border-radius(4px, 4px);
  }
}
