@import 'post';
@import 'article';


.a-no-underline a { text-decoration: none; }

.rst-body {
  cite {
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
}

.article {
  @extend .rst-body;
}

figure.code {
  figcaption {
    background-color: #555555;
    color: white;
    text-align: center;
    font-weight:bold;
  }
}

@for $n from 0 through 4 {
  .tag-#{$n} { font-size: 200% - $n * 25%; }
}

