@import 'pygments.css';
@import 'grid/grid';
@import 'base';

$link-hover-color: #2445ae;

body {
  // use noise background
  background: #ececef url(/theme/bg.png);
  font-family: Lato, Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Times New Roman';
  a { text-decoration: none; }
}

.rst-body {
  // for rst syntax: ``some_word_here``
  // <tt> is not supported in HTML5
  tt {
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
}

.title-link {
  header a {
    font-size: 2em;
    color: black;
    &:hover { color: $link-hover-color; }
  }
}

.rounded-white-bg {
  //background-color: #f7f7f9;
  background-color: #fff;
  margin: .5em;
  padding: .5em;
  @include border-radius(4px, 4px);
}

ol.breadcrumb {
  @extend .rounded-white-bg;
  li:after { content: " / "; }
  li.active:after { content: ""; }
  li { display: inline; }
}

span.badge {
  padding: 0 .75em 0 .75em;
  background-color: #CCFFCC;
  @include border-radius(4px, 4px);
}

// styling for code highlight
div.highlight {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  pre {
    font-size: 125%;
    line-height: 150%;
    margin-top: 0;
    background-color: #f7f7f9;
    //background-color: #cccccc;
    //background-color: #eee;
    padding: .5em;
    border: 1px solid #e1e1e8;
    @include border-radius(4px, 4px);  
  }
}

nav.navbar[role=navigation] {
  @extend .navbar-gradient;
  @include border-radius(4px, 4px);

  header {
    display: inline-block;
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: middle;
  }
  ul {
    vertical-align: middle;
    display: inline-block;
    li {
      display: inline;
      margin-right: 1em;
    }
    li.active { background-color: #e7e7e7; }
  }
}

article.post {
  @extend .rounded-white-bg;
  @extend .title-link;

  .post-metadata-date {
    //color: #d6d5d5;
    color: #dbdad0;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .post-content {
    line-height: 1.5em;
    p { display: inline; }
  }

  a.read-more {
    color: #428bca;
    &:hover { color: $link-hover-color; }
  }
}

figure.code {
  margin: 0;
  figcaption {
    background-color: #555555;
    color: white;
    text-align: center;
    font-weight:bold;
    @include border-radius(4px, 4px);
  }
}

section.archives {
  @extend .rounded-white-bg;
  // @see http://stackoverflow.com/questions/9538247/css-background-disappears-when-using-floatleft
  overflow: hidden;

  dl {
    line-height: 2em;

    dt {
      float: left;
      clear: left;
    }
    dd {
      float: left;
      margin-left: 1em;
    }
  }
}

section.page {
  @extend .rounded-white-bg;
}

aside.sidebar {
  .panel {
    @extend .rounded-white-bg;
  }

  /* for tag cloud */
  @for $n from 0 through 4 {
    .tag-#{$n} {
      font-size: 200% - $n * 25%;
      line-height: 2em;
      padding: .25em;
      background-color: #5bc0de;
      color: white;
      @include border-radius(4px, 4px);
    }
  }
}

section.article {
  @extend .rounded-white-bg;
  @extend .title-link;

  .article-metadata-author {
    margin-bottom: 0;
  }
}

section.tags {
  @extend .rounded-white-bg;
  ul {
    li {
      line-height: 2em;
      a {
        span { margin-right: 1em; }
      }
    }
  }
}
section.categories {
  @extend section.tags;
}

table.table-syntax-diff {
  width: 100%;
  border-spacing: 0; 
  border-color: #fff;
  caption {
    background-color: #e7e7e7;
  }
  pre { margin-bottom: 0 ; }
  p { margin: 0; }
  a { font-size: small; }
}
