@import 'post';
@import 'mixin';
@import 'pygments.css';
@import 'grid/grid';
@import 'navbar';

body {
  background: #ececef url(/theme/bg.png);
  font-family: 'Trocchi', serif;
}

.rst-body {
  tt {
    white-space: nowrap;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
}

.rounded-white-bg {
  background-color: white;
  margin: .5em;
  padding: .5em;
  @include border-radius(4px, 4px);
}

figure.code {
  figcaption {
    background-color: #555555;
    color: white;
    text-align: center;
    font-weight:bold;
    @include border-radius(4px, 4px);
  }
}

@for $n from 0 through 4 {
  .tag-#{$n} {
    font-size: 200% - $n * 25%;
    line-height: 2em;
  }
}

section.archives {
  @extend .rounded-white-bg;

  dl {
    line-height: 2em;

    dt {
      float: left;
      clear: left;
    }
    dd {
      float: left;
      margin-left: 1em;
    }
  }
}

section.page {
  @extend .rounded-white-bg;
}

aside.sidebar {
  padding: .5em;
  a { text-decoration: none; }

  .panel {
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
    margin-bottom: .5em;
    padding: .5em;
    @include border-radius(4px, 4px);
  }
}

.article {
  a { text-decoration: none; }

  .article-metadata-author {
    margin-bottom: 0;
  }
}
