.tag-0 { font-size: 200%; }
.tag-1 { font-size: 175%; }
.tag-2 { font-size: 150%; }
.tag-3 { font-size: 125%; }
.tag-4 { font-size: 100%; }

.a-no-underline a { text-decoration: none; }

.post-metadata-date {
  background-color: #bce8f1;
}
