.tag-0 { font-size: 200%; }
.tag-1 { font-size: 175%; }
.tag-2 { font-size: 150%; }
.tag-3 { font-size: 125%; }
.tag-4 { font-size: 100%; }

.a-no-underline a { text-decoration: none; }

.post {
  margin-bottom: 4em;
}

.post a { text-decoration: none; }

.post-title {
  border-top: solid 2px #9dcedf;
}

.post-metadata-date {
  width: 100%;
  text-align: center;
  background-color: #9dcedf;
  text-shadow: 0px 1px #81bcd1;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-metadata-author {
  display: inline;
  padding-right: 2em;
}

.post-metadata-tags {
  padding-top: .5em;
  padding-left: .5em;
}

.post-content {
  padding-top: 1.5em;
  font-size: 17px;
  line-height: 1.5em;
}

.post-content > p {
  display: inline;
}

.read-more {
  color: #428bca;
}
