/**
 * References:
 * 1. Default HTML (CSS) Stylesheets for reStructuredText
 * URL: http://sourceforge.net/p/docutils/code/HEAD/tree/trunk/docutils/docutils/writers/html4css1/html4css1.css
 * 2. Documentation: Create GitHub like styled html doc file with rst2html
 * URL: https://gist.github.com/vergissberlin/6422a0fe146c8fc04d7f
 */

//font-size: 1.25em;

// styling Gistfy source code
//div.gist {font-size: 14px;}

blockquote {
  padding: 10px;
  margin: 0 0 10px 0;
  border-left: 5px solid #eee;
}

// style code snippet
.highlight {
  pre {
    font-size: 14px;
    padding: .5em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

// for styling of rst syntax: ``some_word_here``
// <tt> is not supported in HTML5
tt.literal {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  //background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

p.rubric {
  font-weight: bold;
  font-size: larger;
  color: maroon;
  text-align: center;
}

.align-center {
  clear: both;
  text-align: center;
}

.picasa-image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  div {
    text-align: center;
  }
  margin-top: 2em;
  margin-bottom: 2em;
}

div.admonition, div.note {
  margin: 2em;
  border: medium outset;
  padding: 1em;
}

div.admonition p.admonition-title,
div.note p.admonition-title {
  font-weight: bold;
  font-family: sans-serif;
}
