//font-size: 1.25em;

// styling Gistfy source code
//div.gist {font-size: 14px;}

blockquote {
  padding: 10px;
  margin: 0 0 10px 0;
  border-left: 5px solid #eee;
}

// style code snippet
.highlight {
  pre {
    font-size: 14px;
    padding: .5em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

// for styling of rst syntax: ``some_word_here``
// <tt> is not supported in HTML5
tt.literal {
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  //background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
