$font-stack: Arial, Helvetica, sans-serif, "微軟正黑體", "Microsoft JhengHei";
$primary-color: #dddddd;
$link-hover-color: #2445ae;


* { font-family: $font-stack; }

.top-nav[role=navigation] {
  background-image: linear-gradient(to bottom right, white, $primary-color);
  border-radius: 4px;
  margin-top: 8px;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .col-md-3, .col-md-4, .col-md-5 {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

.content {
  //background-image: linear-gradient(to top left, white, $primary-color);
  border-radius: 4px;
  border: medium solid $primary-color;
  margin-top: 4px;
  padding: 5px;

  aside {
    .edit-on-github {
      float: right;
      a {
        padding: 5px 5px;
        background: $primary-color;
        border-radius: 4px;
      }
    }

    .available-translations {
      float: left;
    }

    // keep parent element of floated elements from collapsing
    &:after {
      content:"";
      display:table;
      clear:both;
    }
  }
}

.page { @extend .content; }
.article { @extend .content; }

.post {
  aside.post-metadata-date {
    //color: #d6d5d5;
    color: #dbdad0;
    font-size: 1.25em;
    line-height: 1.5em;
  }

  div.post-content {
    line-height: 1.5em;
    p { display: inline; }

    a.read-more {
      color: #428bca;
      &:hover { color: $link-hover-color; }
    }
  }
}
