$font-stack: Arial, Helvetica, sans-serif, "微軟正黑體", "Microsoft JhengHei";
$primary-color: #dddddd;
$link-hover-color: #2445ae;


* { font-family: $font-stack; }

.common-title {
  header {
    h1, h2 {
      margin-top: 10px;
      a {
        text-decoration: none;
        &:hover { color: $link-hover-color; }
      }
    }
  }
}

.top-nav[role=navigation] {
  @extend .common-title;
  background-image: linear-gradient(to bottom right, white, $primary-color);
  border-radius: 4px;
  margin-top: 8px;

  .col-md-3, .col-md-4, .col-md-5 {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  ul {
    margin-bottom: 0; // bootstrap3 set this to 10px.
    li {
      display: inline;
      margin-right: 1em;
    }
  }
}

.common-border {
  border-radius: 4px;
  border: medium solid $primary-color;
  margin-top: 4px;
  padding: 5px;
}

.common-datetime {
  //color: #d6d5d5;
  color: #dbdad0;
  font-size: 1.25em;
  line-height: 1.5em;
}

.content {
  //background-image: linear-gradient(to top left, white, $primary-color);
  @extend .common-border;
  @extend .common-title;

  aside {
    .edit-on-github {
      float: right;
      a {
        padding: 5px 5px;
        background: $primary-color;
        border-radius: 4px;
      }
    }

    .available-translations {
      float: left;
    }

    // keep parent element of floated elements from collapsing
    &:after {
      content:"";
      display:table;
      clear:both;
    }
  }
}

.page { @extend .content; }
.article { @extend .content; 
  aside { time {@extend .common-datetime;} }
}

.post {
  @extend .common-border;
  @extend .common-title;

  aside.post-metadata-date {
    @extend .common-datetime;
  }

  div.post-content {
    line-height: 1.5em;
    p { display: inline; }

    a.read-more {
      color: #428bca;
      &:hover { color: $link-hover-color; }
    }
  }
}

.archives {
  @extend .common-border;
  @extend .common-title;

  // @see http://stackoverflow.com/questions/9538247/css-background-disappears-when-using-floatleft
  overflow: hidden;
  dl {
    line-height: 2em;

    dt {
      float: left;
      clear: left;
    }
    dd {
      float: left;
      margin-left: 1em;
    }
  }
}

.common-groups {
  @extend .common-border;

  ul > li {
    line-height: 2em;
    .badge {
      line-height: 1.5em;
      color: rgb(0, 0, 238);
      padding: 0 .75em 0 .75em;
      background-color: #CCFFCC;
      border-radius: 3px, 3px;
    }
  }
}

.tags, .authors, .categories {
  @extend .common-groups;
}
