<!doctype html>
<html ng-app="virtualKeypad">
<head>
  <meta charset="utf-8">
  <title>AngularJS Virtual Keypad Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="keypad.css">
</head>
<body>

<input type="text" ng-model="paliWord"><br>
<div class="keypad">
    <div><input ng-click="addLtr(letter)" value="{{ letter }}" type="button" ng-repeat="letter in ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']"></div>
    <div><input ng-click="addLtr(letter)" value="{{ letter }}" type="button" ng-repeat="letter in ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l']"></div>
    <div><input ng-click="addLtr(letter)" value="{{ letter }}" type="button" ng-repeat="letter in ['z', 'x', 'c', 'v', 'b', 'n', 'm']"></div>
    <div><input ng-click="addLtr(letter)" value="{{ letter }}" type="button" ng-repeat="letter in ['ā', 'ḍ', 'ī', 'ḷ', 'ṁ', 'ṃ', 'ñ', 'ṇ', 'ṭ', 'ū', 'ŋ', 'ṅ']"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="app.js"></script>
</body>
</html>
