<div>
  <select name="lang">
    <option value="zh_CN" selected="selected">簡體中文</option>
    <option value="en">English</option>
    <option value="zh_TW">傳統中文</option>
  </select>
{{range $item := .}}
<div class="rss-item">
  <div class="rss-item-head">
    <span>{{$item.Title}}</span>
    <span>{{$item.PubDate}}</span>
  </div>
  <div class="rss-item-content">
    {{$item.Description}}
    <div>
      <a target="_blank" href="{{$item.Link}}">{{$item.Title}}</a>
      {{if $item.Comments}}
      (<a target="_blank" href="{{$item.Comments}}">Comments</a>)
      {{end}}
      <textarea rows="4" cols="100">`{{$item.Title}} <{{$item.Link}}>`_
{{if $item.Comments}}(`HN discuss <{{$item.Comments}}>`__){{end}}</textarea>
    </div>
  </div>
  <div class="rss-item-send2server"
	data-title="{{$item.Title}}"
	data-link="{{$item.Link}}"
	data-comments="{{$item.Comments}}">
    <select name="tag">
      <option value="News" selected="selected">News</option>
      <option value="Misc">Misc</option>
      <option value="Python">Python</option>
      <option value="JavaScript">JavaScript</option>
      <option value="CSS">CSS</option>
      <option value="Shell">Shell</option>
      <option value="Linux">Linux</option>
      <option value="Go">Go</option>
      <option value="Embedded System">Embedded System</option>
      <option value="Ruby">Ruby</option>
      <option value="Cryptography">Cryptography</option>
      <option value="Dart">Dart</option>
      <option value="Interview">Interview</option>
      <option value="Game">Game</option>
      <option value="Clojure">Clojure</option>
      <option value="Compiler">Compiler</option>
      <option value="Java">Java</option>
      <option value="Lisp">Lisp</option>
      <option value="SEO">SEO</option>
      <option value="Scala">Scala</option>
      <option value="Security">Security</option>
      <option value="Lua">Lua</option>
      <option value="Computer Architecture">Computer Architecture</option>
      <option value="Data Structure">Data Structure</option>
      <option value="Data Science">Data Science</option>
      <option value="math">math</option>
      <option value="database">database</option>
      <option value="Assembly">Assembly</option>
      <option value="Algorithm">Algorithm</option>
      <option value="Android">Android</option>
      <option value="iOS">iOS</option>
      <option value="Mobile">Mobile</option>
      <option value="C">C</option>
      <option value="C++">C++</option>
      <option value="Objective-C">Objective-C</option>
      <option value="R">R</option>
      <option value="Bash">Bash</option>
      <option value="OS">OS</option>
      <option value="Vim">Vim</option>
      <option value="Git">Git</option>
      <option value="Github">Github</option>
      <option value="Search">Search</option>
      <option value="Programming">Programming</option>
      <option value="Programming Language">Programming Language</option>
      <option value="Web Development">Web Development</option>
      <option value="Machine Learning">Machine Learning</option>
      <option value="PHP">PHP</option>
      <option value="Docker">Docker</option>
      <option value="Hadoop">Hadoop</option>
      <option value="Unicode">Unicode</option>
      <option value="FreeBSD">FreeBSD</option>
      <option value="Erlang">Erlang</option>
      <option value="Show HN">Show HN</option>
      <option value="Cryptocurrency">Cryptocurrency</option>
      <option value="XML">XML</option>
      <option value="Continuous Integration">Continuous Integration</option>
      <option value="Chrome">Chrome</option>
      <option value="Browser">Browser</option>
      <option value="Rust">Rust</option>
      <option value="SVG">SVG</option>
      <option value="Julia">Julia</option>
      <option value="Perl">Perl</option>
      <option value="Frontend">Frontend</option>
      <option value="Robotics">Robotics</option>
      <option value="Haskell">Haskell</option>
      <option value="xkcd">xkcd</option>
    </select>
    <button type="button">Send</button>
  </div>
</div>
{{end}}
</div>
