{% macro gettext(string, lang) -%}
  {%- if lang == 'en' -%}
    {{ string }}
  {%- elif lang == 'zh' -%}
    {%- if string == 'Home' -%} 首頁
    {%- elif string == 'Archives' -%} 所有文章
    {%- elif string == 'Translation(s)' -%} 翻譯
    {%- elif string == 'Tel' -%} 電話
    {%- elif string == 'Street' -%} 街道
    {%- elif string == 'Email' -%} 電子郵件
    {%- elif string == 'Kaohsiung, Taiwan' -%} 高雄,台灣
    {%- else -%}
      {{ string }}
    {%- endif -%}
  {%- else -%}
    {{ string }}
  {%- endif -%}
{%- endmacro %}

{% macro lang_code2name(code)  %}
  {%- if   code == 'en'    -%}   English
  {%- elif code == 'zh'    -%}   中文
  {%- elif code == 'zh_TW' -%}   中文 (繁體)
  {%- elif code == 'zh_CN' -%}   中文 (简体)
  {%- else -%}{{ code }}{%- endif -%}
{% endmacro %}

{% macro translations_for(writing, SITEURL)  %}
  {%- if writing.translations -%}
    <div class="available-translations">
      <span>{{- gettext("Translation(s)", writing.lang) -}}</span>:&nbsp;
      {%- for translation in writing.translations -%}
        <a href="{{ SITEURL }}/{{ translation.url }}">{{ lang_code2name(translation.lang) }}</a>&nbsp;
      {%- endfor -%}
    </div>
  {%- endif -%}
{% endmacro %}
