<nav class="navbar" role="navigation">
  <header>
    <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
  </header>

  <ul>
    {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
  </ul>

  {% if DISPLAY_PAGES_ON_MENU %}
    <ul>
      {% for p in PAGES %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if DISPLAY_CATEGORIES_ON_MENU %}
    <ul>
      {% for cat, null in categories %}
        {% if cat == category %}
        <li class="active">
          <a href="{{ SITEURL }}/{{ cat.url }}">
            <i class="fa fa-folder-open"></i> {{ cat }}
          </a>
        </li>
        {% else %}
        <li>
          <a href="{{ SITEURL }}/{{ cat.url }}">
            <i class="fa fa-folder"></i> {{ cat }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <ul>
    <li>
      <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
        <i class="fa fa-archive"></i> Archives
      </a>
    </li>
  </ul>
</nav>
