<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- {{ SITENAME }} and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <header>
        <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </header>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav">
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            {% if cat == category %}
            <li class="active">
              <a href="{{ SITEURL }}/{{ cat.url }}">
                <i class="fa fa-folder-open"></i> {{ cat }}
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ SITEURL }}/{{ cat.url }}">
                <i class="fa fa-folder"></i> {{ cat }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
