<nav class="navbar" role="navigation">
  <header>
    <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
  </header>

  {% if MENUITEMS|length != 0 %}
    <ul>
    {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if DISPLAY_PAGES_ON_MENU %}
  <ul>
    {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
      </li>
    {% endfor %}
    <li title="Archives">
      <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
        <i class="fa fa-archive"></i>
      </a>
    </li>
    <li title="Tags">
      <a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">
        <i class="fa fa-tags"></i>
      </a>
    </li>
    <li title="Categories">
      <a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">
        <i class="fa fa-list"></i>
      </a>
    </li>
    <li title="Links">
      <!-- Useful links -->
      <a href="{{ SITEURL }}/pages/link.html">
        <i class="fa fa-link"></i>
      </a>
    </li>
    <li title="RSS">
      <!-- RSS seed -->
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
        <i class="fa fa-rss"></i>
      </a>
    </li>
  </ul>
  {% endif %}

  {% if DISPLAY_CATEGORIES_ON_MENU %}
    <ul>
      {% for cat, null in categories %}
        {% if cat == category %}
        <li class="active">
          <a href="{{ SITEURL }}/{{ cat.url }}">
            <i class="fa fa-folder-open"></i> {{ cat }}
          </a>
        </li>
        {% else %}
        <li>
          <a href="{{ SITEURL }}/{{ cat.url }}">
            <i class="fa fa-folder"></i> {{ cat }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

</nav>
