.left-column{
  width:70%;
  display:inline-block
}

@media screen and (max-width: 767px){
  .left-column{
    width:100%;
    display:block
  }
}

.right-column{
  width:30%;
  display:inline-block
}

@media screen and (max-width: 767px){
  .right-column{
    width:100%;
    display:block
  }
}
